$main: #f8f8f8;
$accent: darken($main, 5%);
$white: #fff;

[class^="icon"] {
    font-size: 30px;
    background: $accent;
    border: none;
    border-radius: 4px;
}

.jm-btn {
    background: $white;
    padding: 10px;
    border: 1px solid $accent;
    border-radius: 4px;
    &:hover {
        background: $accent;
        border-color: darken($accent, 10%);
    }
}
