<div id="justmenu-container">
    <div data-justmenu>
        <div id="menu-bar">
            <a href="#/order-online" class="icon-left-circled2">Back</a>
        </div>

        <div id="checkout-page">

            <h2>Pickup Or Delivery?</h2>
            <button type="button" class="icon-male" ng-class="{ 'pressed':orderMethod==='pickup' }" ng-click="orderMethod = 'pickup'">Pickup</button>
            <button type="button" class="icon-truck" ng-class="{ 'pressed':orderMethod==='delivery' }" ng-click="orderMethod = 'delivery'">Delivery</button>

            <div ng-show="orderMethod">
                <section>
                    <h2>Information</h2>

                    <form name="infoForm">
                        <div>
                            <label for="phone">Phone Number</label>
                            <input type="text" name="phone" id="phone" placeholder="phone" ng-required="true" />
                        </div>

                        <div>
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" placeholder="email" ng-required="true" />
                        </div>

                        <div ng-if="orderMethod === 'delivery'">
                            <label for="address">Address</label>
                            <input type="text" name="address" id="address" placeholder="street address" ng-required="true" />
                        </div>

                        <div ng-if="orderMethod === 'delivery'">
                            <label for="city">City</label>
                            <input type="text" name="city" id="city" placeholder="city" ng-required="true" />
                        </div>

                        <div>
                            <label for="instructions">Special Instructions<span ng-if="orderMethod === 'delivery'"> for order and delivery driver</span></label>
                            <textarea name="instructions" id="instructions" placeholder="special instructions" ng-required="true" ></textarea>
                        </div>
                    </form>
                </section>

                <section>
                    <h2>Payment</h2>
                    <button type="button" class="icon-money" ng-class="{ 'pressed':paymentMethod==='cash' }" ng-click="paymentMethod = 'cash'">Cash</button>
                    <button type="button" class="icon-credit-card" ng-class="{ 'pressed':paymentMethod==='credit card' }" ng-click="paymentMethod = 'credit card'">Credit Card</button>
                    <button type="button" class="icon-dollar">Other</button>

                    <form name="paymentForm">
                        <div ng-if="paymentMethod === 'credit card'">
                            <label for="cardnumber">Card Number</label>
                            <input type="text" name="cardnumber" id="cardnumber" placeholder="card number" />
                        </div>
                    </form>
                </section>

                <section>
                    <h2>Tip</h2>
                    <button type="button" class="icon-gift"></button>
                </section>

                <section ng-show="paymentMethod === 'credit card'">
                    <h2>Round Up</h2>
                    <button type="button" class="icon-smile"></button>
                    <button type="button" class="icon-frown"></button>
                </section>

                <h1>{{ total | currency }}</h1>
                <button type="button" class="jm-btn" ng-click="placeOrder()">Place Order</button>
            </div>
        </div>
    </div>
    <div ng-controller="CartController">
        <jm-cart></jm-cart>
    </div>
</div>
