<div data-justmenu="justmenu">
    <div id="menu-bar"><button type="button" class="icon-menu"></button></div>
    <div data-category="{{ category.id }}" ng-repeat="category in categories">
        <div class="category-heading" ng-class="{ 'active': $index == selectedIndex }" ng-click="toggleCategory($index)">
            <h3 data-title="{{ category.title }}">{{ category.title }}</h3>
            <?php if(!empty($special_times)): ?>
            <p data-special-times="true"><?= $special_times; ?></p>
            <?php endif ?>
        </div>
        <div class="category-body" ng-class="{ 'active': $index == selectedIndex }" ng-click="toggleCategory($index)">
            <h3 data-title="{{ category.title }}">{{ category.title }} <span data-description="{{ category.description }}">({{ category.description }})</span></h3>
            <h4 data-info="{{ category.info }}">{{ category.info }}</h4>
            <table cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th ng-repeat="size in sizes">{{ size.size }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in category.items" data-availability="{{ item.availability }}">
                        <td>
                            <strong>{{ item.title }}</strong>
                            <p>{{ item.description }}</p>
                            <p>{{ item.info }}</p>
                        </td>
                        <td ng-repeat="size in item.sizes">
                            <p>{{ size.price }}</p>
                            <p><button type="button" class="jm-btn" ng-click="selectedItem(item, size)">Select</button></p>
                        </td>

                        <input ng-if="item.isChoice" type="hidden" name="choices" value="<?= htmlspecialchars(''); ?>" /> <!-- $choices -->

                        <input type="hidden" name="item-options" value="<?= htmlspecialchars($options); ?>" />
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="hidden" name="category-options" value="<?= htmlspecialchars($options); ?>" />
    </div>
    <input type="hidden" name="options" value="<?= htmlspecialchars($options); ?>" />
</div>

<div data-justmenu-cart>
    <div class="cart-heading">
        <button ng-click="emptyCart()" id="empty-cart" class="icon-trash" type="button"></button>
    </div>
    <div class="cart-body">
        <ul id="cart-contents">
            <li ng-show="!cart.length && !lastItems.length">Nothing in cart.</li>
            <li ng-repeat="item in cart">
                <button type="button" ng-click="decreaseQuantity(item.id)" class="icon-down-open"><span></span></button>
                <button type="button" ng-click="increaseQuantity(item.id)" class="icon-up-open"><span></span></button>
                <span class="quantity">{{ item.quantity }}</span> {{ item.title }} ({{ item.size }}) <ul data-options><li ng-repeat="option in item.selected_options">{{ option.title }} <span>${{ option.price }}</span></li></ul>
                <span>${{ item.price }}</span>
            </li>
            <div ng-show="lastItems.length">
                <p><span></span> You just emptied your cart. Would you like to <button type="button" ng-click="undoEmptyCart()" id="undo-empty-cart" class="jm-btn">undo?</button></p>
            </div>
        </ul>
    </div>
    <div class="cart-footer">
        <ul id="cart-totals">
            <li>Sub-Total <span data-subtotal>$15.00</span></li>
            <li>Tax <span data-tax>$0.00</span></li>
            <hr>
            <li>Total <span data-total>$15.00</span></li>
        </ul>
    </div>
</div>

<div ng-show="showModal">
    <div id="justmenu-option-container">
        <div class="modal">
            <div class="modal-heading">
                <span id="close-modal">&times;</span>
            </div>
            <div class="modal-body">
                <h3>Choose One</h3>
                <div ng-repeat="item in choices">
                    <p>{{ item.title }} <button type="button" class="jm-btn" ng-click="selectedItem(item, item.chosenSize)">Select</button></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button">Done</button>
            </div>
        </div>
    </div>
    <div id="overlay"></div>
</div>
