@import
    "vendor/fontello",
    "partials/base";

#justmenu-container {

    div[data-justmenu-cart] {
        background: $main;
        border: 1px solid $accent;
        &>div {
            padding: 10px;
        }
        h2 {
            line-height: 50px;
            text-align: center;
        }
        ul {
            list-style-type: none;
            li {
                overflow: hidden;
            }
        }
        span {
            float: right;
        }
        #empty-cart {
            float: right;
        }
        .cart-footer {
            background-color: darken($accent, 20%);
            overflow: hidden;
        }
    }

    div[data-category] {
        background: $main;
        border: 1px solid $accent;
        overflow: hidden;
        margin: 20px 0;
        .category-heading {
            text-align: center;
            background-color: darken($accent, 20%);
            overflow: hidden;
        }
        .category-body {
            table {
                width: 100%;
                th, td {
                    text-align: right;
                }
                tr td:first-child {
                    text-align: left;
                }
                thead, tr:nth-child(even) {
                    background-color: $accent;
                }
            }
        }
    }

}

#justmenu-option-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1020;
    overflow: auto;
    overflow-y: scroll;
    .modal {
        #close-modal {
            float: right;
            cursor: pointer;
        }
        background: #fff;
        padding: 20px;
        margin: 40px;
        position: relative;
    }
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
    z-index: 1010;
}
