<div data-justmenu-cart>
    <div class="cart-heading">
        <h2>Open For Orders <button id="empty-cart" class="icon-trash" type="button"></button></h2>
    </div>
    <div class="cart-body">
        <ul id="cart-contents"></ul>
    </div>
    <div class="cart-footer">
        <ul id="cart-totals">
            <li>Sub-Total <span data-subtotal>$15.00</span></li>
            <li>Tax <span data-tax>$0.00</span></li>
            <hr>
            <li>Total <span data-total>$15.00</span></li>
        </ul>
    </div>
</div>
