<div data-justmenu-cart class="panel panel-success">
    <div class="panel-heading">
        <h2>Open For Orders <button id="empty-cart" type="button" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span></button></h2>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled" id="cart-contents"></ul>
    </div>
    <div class="panel-footer">
        <ul class="list-unstyled" id="cart-totals">
            <li>Sub-Total <span class="pull-right" data-subtotal>$15.00</span></li>
            <li>Tax <span class="pull-right" data-tax>$0.00</span></li>
            <hr>
            <li>Total <span class="pull-right" data-total>$15.00</span></li>
        </ul>
    </div>
</div>
