<div data-category="<?= $id; ?>">
    <div class="category-heading">
        <h3 data-title="<?= $title; ?>"><?= $title; ?> <span data-description="<?= $description; ?>">(<?= $description; ?>)</span></h3>
        <h4 data-info="<?= $info; ?>"><?= $info; ?></h4>
        <?php if(!empty($special_times)): ?>
        <p data-special-times="true"><?= $special_times; ?></p>
        <?php endif ?>
    </div>
    <div class="category-body">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <?php foreach($sizes as $size): ?>
                    <th data-size="<?= $size; ?>" class="text-right"><?= $size; ?></th>
                    <?php endforeach; ?>
                </tr>
            </thead>
            <tbody>
                <?= $items; ?>
            </tbody>
        </table>
    </div>
    <input type="hidden" name="category-options" value="<?= htmlspecialchars($options); ?>" />
</div>
