$break-large: 1024px;

body.show-modal {
    overflow: hidden;
}
body {
    margin: 0;
}
#justmenu-container {
    * {
        box-sizing: border-box;
    }
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
}
[data-justmenu] {
    position: relative;
    width: 70%;
    float: left;
    background: $subtle;
    height: 100%;
    @include transition(all, 1s, ease);
    left: 0;
    &.slide {
        left: 200px;
        .category-body {
            position: fixed !important;
            left: 200px !important;
            height: 100%;
        }
        #menu-bar {
            position: fixed;
            width: 100%;
        }
    }
    &.slide-cart {
        left: -350px;
        & + div {
            div[data-justmenu-cart] {
                right: 0 !important;
            }
        }
    }
    @media (max-width: $break-large) {
        width: 100%;
    }
    #menu-bar {
        height: 60px;
        background-color: $main;
        border-bottom: 1px solid $accent;
        .icon-menu, .icon-basket {
            padding: 0;
            margin: 0;
            border: none;
            line-height: 60px;
            background-color: $main;
            color: $lighter;
            outline: none;
            width: 60px;
            float: left;
            &:first-child {
                float: right;
            }
            @media (min-width: $break-large) {
                display: none;
            }
        }
        .icon-basket {
            position: relative;
            span {
                background: $red;
                width: 20px;
                line-height: 20px;
                border-radius: 20px;
                display: block;
                font-size: 15px;
                color: #fff;
                position: absolute;
                top: 8px;
                right: 5px;
            }
            &.ready {
                color: $green;
            }
        }
        & > div {
            margin: 0 60px;
            @media (min-width: $break-large) {
                margin: 0 10px 0 200px;
            }
            & > button {
                position: absolute;
                top: 0;
                right: 10px;
                z-index: 1030;
                width: 60px;
                height: 40px;
                margin: 10px 0 0 0;
                border: 0;
                padding: 0;
                @media (max-width: $break-large) {
                    right: 60px;
                }
            }
            input {
                width: 100%;
                line-height: 40px;
                margin: 10px 0 0 0;
                padding: 0 10px;
                border: 0;
                font-size: 18px;
                z-index: 1020;
                position: relative;
            }
        }
        ul.search-results {
            list-style-type: none;
            background: $white;
            z-index: 1020;
            position: relative;
            padding-top: 10px;
            margin-top: 10px;
            li {
                overflow: hidden;
                & > p {
                    float: left;
                    &:first-child {
                        background: $subtle;
                        margin: 0;
                        float: none;
                    }
                    span {
                        color: blue;
                    }
                }
                & > div {
                    background: darken($subtle, 2%);
                    text-align: right;
                    float: right;
                    padding-right: 10px;
                    div {
                        float: left;
                        width: 100px;
                        p { margin: 5px 0; }
                    }
                }
            }
        }
    }
}

