#justmenu-container {
    div[data-category] {
        margin: 0px 0;
        .category-heading {
            width: 200px;
            text-align: center;
            background-color: $main;
            border-right: 1px solid $accent;
            border-top: 1px solid $accent;
            border-bottom: 1px solid $darkAccent;
            cursor: pointer;
            z-index: 90;
            color: $lighter;
            position: relative;
            left: 0px;
            &.active {
                background-color: $accent;
            }
            @media (max-width: $break-large) {
                left: -200px;
            }
            h3 {
                margin-top: 0px;
                margin-bottom: 0px;
                line-height: 40px;
                font-size: 17px;
            }
        }
        .category-body {
            opacity: 0;
            width: 100%;
            position: absolute;
            left: 0px;
            top: 300px;
            color: $main;
            padding-left: 200px;
            padding-right: 0px;
            z-index: 80;
            background-color: $white;
            @include transition(all, 0.5s, ease);
            &.active {
                opacity: 1;
                top: 60px;
            }
            @media (max-width: $break-large) {
                padding-left: 0;
                padding-right: 0;
            }
            h3, h4 {
                background-color: $main;
                margin: 0;
                text-align: center;
                color: $lighter;
                padding: 10px 0;
            }
            table {
                width: 100%;
                border-bottom: 1px solid $lighter;
                thead {
                    line-height: 40px;
                    background-color: $accent;
                    color: $lighter;
                }
                th, td {
                    text-align: right;
                    padding: 0 10px;
                }
                tr td:first-child {
                    text-align: left;
                }
                tr:nth-child(even) {
                    background-color: $accent;
                    background-color: $subtle;
                }
            }
        }
    }
}
