#checkout-page {
    padding: 0 20px;
    form {
        div {
            input, textarea {
                display: block;
                width: 100%;
                padding: 5px;
                @include border-radius(5px);
            }
        }
    }
}

#menu-bar .icon-left-circled2 {
    border: none;
    line-height: 60px;
    background-color: $main;
    color: $lighter;
    text-decoration: none;
}
