<div data-justmenu="justmenu">
    <div id="menu-bar"><button class="icon-menu"></button></div>
    <div class="category" ng-class="{ 'active': $index === selectedIndex }" ng-repeat="category in menu.categories">
        <div class="category-heading" ng-click="toggleCategory($index)">
            <h3>{{ category.title }}</h3>
        </div>
        <div class="category-body">
            <h3>{{ category.title }} <span>{{ category.description | parens }}</span></h3>
            <h4>{{ category.info }}</h4>
            <table cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th ng-repeat="size in category.sizes">{{ size.size }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in category.items">
                        <td>
                            <strong>{{ item.title }}</strong>
                            <p>{{ item.description }}</p>
                            <p>{{ item.info }}</p>
                        </td>
                        <td ng-repeat="size in item.sizes">
                            <p>{{ size.price }}</p>
                            <p><button type="button" class="jm-btn" item="item" size="size" jm-select-item>Select</button></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
